body{
    background-color: darkslategray;
}
@font-face {
  font-family: "header";
  src:url("fonts/Redressed-Regular.ttf");
  format: ("ttf");
  font-weight: normal;
  font-style: normal;
}
header{
    font-family: "header";
}
@font-face {
  font-family: "text";
  src:url("fonts/NotoSans-Regular.ttf");
  format: ("ttf");
  font-weight: normal;
  font-style: normal;
}
section{
    font-family: "text";
}
@font-face {
  font-family: "footer";
  src:url("fonts/DancingScript-Regular.ttf");
  format: ("ttf");
  font-weight: normal;
  font-style: normal;
}
footer{
    font-family: "footer";
    font-size: 30px;
}
